<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen P1 MelA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div>

      <ion-item routerLink="/formulario">Formulario</ion-item>


      <ion-header>Servicio</ion-header>

      <ng-container *ngIf="listInfo;else loading">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{listInfo.quote}}
            </ion-card-title>
            <ion-card-subtitle>
              {{listInfo.author}}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-container>

      <ng-template #loading>
        <ion-spinner name="crescent">
        </ion-spinner>
      </ng-template>

    </div>
  </ion-content>